<div class="text-center jumbotron">
  <h3> Add a Game</h3>
  <br>
  <form [formGroup]="gameForm"
        class="container ">
    <p>Name :
      <input formControlName="name"
             class="col-md-6">
    </p>
    <p>Year :
      <input formControlName="year"
             class="col-md-6">
    </p>
    <p>Image :
      <input formControlName="image"
             class="col-md-6">
    </p>
  </form>
  <button type="button" class="btn btn-danger"  (click)="onSubmitClick($event)" >Add</button>
</div>