:host {
    width: 1080px;
    .flex-grid {
        width: 1080px;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; // position: absolute;

        .app-game-item-card {
            flex: 1 0 auto;
        }
    }
}