<div class="card col">
  <div (click)="cardClicked.emit(gameItem.id)">
    <app-image [imgUrl]="gameItem.image"></app-image>
    <div class="card-body">
      <h4 class="card-title">{{gameItem.name}}</h4>
      <p class="card-text">Year: {{gameItem.year}}</p>
    </div>
  </div>
  <app-button [message]="'Edit'"
              [btnClass]="isBtnGreen ? 'greenBtn' : 'blueBtn'"></app-button>
  <br>
  <button style="margin-bottom: 20px"
          class="btn btn-warning col-md-5"
          (click)="toggleAppBtn()"> Change </button>
</div>