<div class="card col">
  <div (click)="cardClicked.emit(gameItem.id)">
    <app-image [imgUrl]="gameItem.image"></app-image>
    <div class="card-body">
      <h4 class="card-title">{{gameItem.name}}</h4>
      <p class="card-text">Year: {{gameItem.year}}</p>
    </div>
  </div>
  <div style="margin-bottom: 20px;">
    <div class="row">
      <div class="pull-left col-md-6">
        <app-button [message]="'Edit'"
                    [btnClass]="isBtnGreen ? 'greenBtn' : 'blueBtn'"
                    (buttonClicked)="goToEditHandler.emit(gameItem)"></app-button>
      </div>
      <div class="pull-right col-md-6">
        <app-button [message]="'Toggle'" [btnClass]="'yellowBtn'"
                (buttonClicked)="toggleAppBtn()"></app-button>
      </div>
    </div>
  </div>
</div>