<div *ngIf="gameProfile$ | async as profile"
     class="container">
  <div class="row">
    <div class="col-md-6">
        <app-image [imgUrl]="profile.image"></app-image>
    </div>
    <div class="col-md-6">
      <h1>{{profile.name}}</h1>
      <h3>{{profile.year}}</h3>
    </div>
  </div>
  <div class="container">
    <button class="btn btn-info"
       (click)="goToList()">Go to list</button>
       <br>
    <button class="btn btn-danger"
       (click)="goBack()">Go back</button>
  </div>
</div>