<div *ngIf="gameProfile$ | async as profile"
     class="container">
  <div class="row">
    <div class="col-md-6">
      <app-image [imgUrl]="profile.image" [customHeight]="750" [customWidth]="500"></app-image>
    </div>
    <div class="col-md-6">
      <h1>{{profile.name}}</h1>
      <h3>{{profile.year}}</h3>
    </div>
  </div>
  <div class="container">
    <app-button (buttonClicked)="goToList()"
                [message]="'Go to list'" [btnClass]="'blueBtn'"></app-button>
    <br>
    <app-button (buttonClicked)="goBack()" [btnClass]="'redBtn'"
                [message]="'Go back'"></app-button>
  </div>
</div>