.login-form {
    position: absolute;
    top: 20%;
    left: 45%;
    // transform: translate(-50%, -50%);
    .mat-form-field {
      width: 100%;
    }
    .help-block {
      font-style: italic;
    }
    .form-button {
      margin-top: 20px;
    }
  }